apache-airflow-providers-apache-spark==4.11.1
apache-airflow-providers-telegram
pandas
requests==2.31.0
pyspark
dbt-core
dbt-clickhouse
faker
psycopg2-binary
apache-airflow-providers-fab
apache-airflow-providers-amazon
faker
faker_microservice
confluent_kafka